{% extends 'base.html' %}
{% block title %}
    <title>Register</title>
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" type="text/css">
{% endblock %}


{% block content %}
    <main role="main" class="flex-shrink-0">
        <div class="container">

            <div class="title">
                <h3>Registration Page</h3>
            </div>
            <div class="alert" role="alert">
                <p class="text-justify">&bull; To register to use the Elsevier Editorial System, please enter the
                    requested information. Upon successful
                    registration, you will be sent an e-mail with instructions to verify your registration. </p>
                <p class="text-justify">&bull; To register to use the Elsevier Editorial System, please enter the
                    requested information. Required fields
                    have a <span class="text-danger">*</span> next to the label.</p>
                <p class="text-justify">&bull; Please note that we respect your privacy and do not disclose, rent or
                    sell your personal information to any
                    non-affiliated third parties without your consent, except as may be stated in our Privacy
                    Policy.</p>
            </div>
            {% if form and form.errors %}

                <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <strong>{{ form[field_name].label }}</strong>: {{ error }}<br>
                        {% endfor %}
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            {% endif %}
            <div class="base-form">
                <form method="post">
                    <!--基本信息-->
                    <div class="form-title">
                        <h3>Login Information</h3>
                    </div>
                    <div class="content mb-4 mainpage-card">
                        <div class="row">
                            <label for="inputEmail" class="col-sm-3 col-form-label ">E-mail Address</label>
                            <div class="col-sm-4">
                                <input type="email" class="form-control form-control-sm" id="inputEmail" name="email"
                                       aria-describedby="emailHelp" required
                                       value="{{ form.data['email'] | default('',true) }}">
                            </div>
                            <small class="form-text text-danger" id="emailHelp">
                                *req
                            </small>
                        </div>
                        <!--<div class="row">-->
                        <!--<label for="inputEmail3" class="col-sm-3 col-form-label ">Confirm E-mail Address</label>-->
                        <!--<div class="col-sm-4">-->
                        <!--<input type="email" class="form-control form-control-sm" id="inputEmail3" aria-describedby="emailHelp1" required>-->
                        <!--</div>-->
                        <!--<small class="form-text text-danger" id="emailHelp1">-->
                        <!--*req-->
                        <!--</small>-->
                        <!--</div>-->
                        <div class="row">
                            <label for="inputPassword" class="col-sm-3 col-form-label  ">Password</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control form-control-sm" id="inputPassword"
                                       name="password" required>
                            </div>
                            <small class="form-text text-danger">
                                *req
                            </small>
                        </div>
                        <div class="row">
                            <label for="inputPassword1" class="col-sm-3 col-form-label  ">Confirm Password</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control form-control-sm" id="confirm_password"
                                       name="confirm_password" required>
                            </div>
                            <small class="form-text text-danger">
                                *req
                            </small>
                        </div>
                    </div>
                    <!--个人信息-->
                    <div class="form-title">
                        <h3>Personal Information</h3>
                    </div>
                    <div class="content mb-4 mainpage-card">
                        <div class="row">
                            <label for="title" class="col-sm-3 col-form-label ">Title</label>
                            <div class="col-sm-4">
                                <select class="custom-select custom-select-sm " id="title" name="title">
                                    <option value="" hidden disabled selected>Please choose a title</option>
                                    <option value="Dr">Dr.</option>
                                    <option value="Miss">Miss</option>
                                    <option value="Mr">Mr.</option>
                                    <option value="Mrs">Mrs.</option>
                                    <option value="Ms">Ms.</option>
                                    <option value="Professor">Professor</option>
                                </select>
                            </div>
                            <small class="form-text text-danger">
                                *req
                            </small>
                        </div>
                        <div class="row">
                            <label for="firstname" class="col-sm-3 col-form-label ">First Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="first_name"
                                       name="first_name"
                                       aria-describedby="firstnameHelp" required
                                       value="{{ form.data['first_name'] | default('',true) }}"
                                >
                            </div>
                            <small class="form-text text-danger" id="firstnameHelp">
                                *req
                            </small>
                        </div>
                        <div class="row">
                            <label for="middlename" class="col-sm-3 col-form-label ">Middle Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="middle_name"
                                       name="middle_name" value="{{ form.data['middle_name'] | default('',true) }}">
                            </div>
                        </div>
                        <div class="row">
                            <label for="lastname" class="col-sm-3 col-form-label ">Last Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="lastname" name="last_name"
                                       aria-describedby="lastnameHelp" required
                                       value="{{ form.data['last_name'] | default('',true) }}">
                            </div>
                            <small class="form-text text-danger" id="lastnameHelp">
                                *req
                            </small>
                        </div>
                        <div class="row">
                            <label for="degree" class="col-sm-3 col-form-label ">Degree</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="degree" name="degree"
                                       value="{{ form.data['degree'] | default('',true) }}">
                            </div>
                            <small class="form-text">
                                (Ph.D., M.D., Jr., etc.)
                            </small>
                        </div>
                        {#                        <div class="row">#}
                        {#                            <label for="preferredName" class="col-sm-3 col-form-label ">Preferred Name</label>#}
                        {#                            <div class="col-sm-4">#}
                        {#                                <input type="text" class="form-control form-control-sm" id="preferredName"#}
                        {#                                       name="nick_name">#}
                        {#                            </div>#}
                        {#                            <small class="form-text">#}
                        {#                                (nickname)#}
                        {#                            </small>#}
                        {#                        </div>#}
                        <div class="row">
                            <label for="telephoneNumber" class="col-sm-3 col-form-label ">Telephone Number</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="phone_number"
                                       name="phone_number" value="{{ form.data['phone_number'] | default('',true) }}">
                            </div>
                        </div>
                        <div class="row">
                            <label for="faxNumber" class="col-sm-3 col-form-label ">Fax Number</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="faxNumber"
                                       name="fax_number" value="{{ form.data['fax_number'] | default('',true) }}">
                            </div>
                        </div>
                        <div class="row">
                            <label for="secondaryEmail" class="col-sm-3 col-form-label ">Secondary E-mail</label>
                            <div class="col-sm-4">
                                <input type="email" class="form-control form-control-sm" id="secondary_email"
                                       name="secondary_email"
                                       maxlength="191" multiple
                                       value="{{ form.data['secondary_email'] | default('',true) }}">
                            </div>
                            <small style="width:41%;">
                                (Multiple e-mail addresses should be separated by a comma. A maximum of 191 characters
                                is
                                allowed)
                            </small>
                        </div>
                    </div>
                    <!--机构信息Institution Related Information-->
                    <div class="form-title">
                        <h3>Institution Related Information</h3>
                    </div>
                    <div class="content mb-4 mainpage-card">
                        <div class="row">
                            <label for="position" class="col-sm-3 col-form-label ">Telephone Number</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="institution_phone_number"
                                       name="institution_phone_number"
                                       value="{{ form.data['institution_phone_number'] | default('',true) }}">
                            </div>
                        </div>
                        <div class="row">
                            <label for="institution" class="col-sm-3 col-form-label ">Institution</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="institution"
                                       name="institution" value="{{ form.data['institution'] | default('',true) }}">
                            </div>
                        </div>
                        <div class="row">
                            <label for="department" class="col-sm-3 col-form-label ">Department</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="department"
                                       name="department" value="{{ form.data['department'] | default('',true) }}">
                            </div>
                        </div>
                        <div class="row">
                            <label for="streetAdress" class="col-sm-3 col-form-label ">Street Adress</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="street"
                                       name="street"
                                       aria-describedby="streetAdressHelp" required
                                       value="{{ form.data['street'] | default('',true) }}">
                            </div>
                            <small class="form-text text-danger" id="streetAdressHelp">
                                *req
                            </small>
                        </div>

                        <div class="row">
                            <label for="city" class="col-sm-3 col-form-label ">City</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="city" name="city" required
                                       value="{{ form.data['city'] | default('',true) }}">
                            </div>
                            <small class="form-text text-danger">
                                *req
                            </small>
                        </div>
                        <div class="row">
                            <label for="country" class="col-sm-3 col-form-label ">Country</label>
                            <div class="col-sm-6">
                                <select class="custom-select custom-select-sm " id="country" name="country_id" required>
                                    <option value="" hidden disabled selected>Please choose a country</option>
                                    {% for country in all_countries %}
                                        <option value="{{ country.id }}">{{ country.country_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <small class="form-text text-danger">
                                *req
                            </small>
                        </div>
                        <div class="row">
                            <label for="state" class="col-sm-3 col-form-label ">State or Province</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="state"
                                       name="state_or_province"
                                       value="{{ form.data['state_or_province'] | default('',true) }}">
                            </div>
                        </div>
                        <div class="row">
                            <label for="zip" class="col-sm-3 col-form-label ">Zip or Postal Code</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" id="zip" name="zip"
                                       value="{{ form.data['zip'] | default('',true) }}">
                            </div>
                        </div>

                    </div>
                    <div class="form-title">
                        <h3>Areas of Interest or Expertise</h3>
                    </div>
                    <div class="content mainpage-card">
                        <div class="alert alert-danger" role="alert">
                            Please indicate your areas of expertise by clicking the button(s) below and entering the
                            requested information on the following screen.
                        </div>
                        <div class="row">
                            <label class="col-sm-3 col-form-label">Personal Classifications</label>
                            <div class="col-sm-4">
                                <p style="padding-top:calc(0.375rem + 1px)">(None Selected)</p>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 col-form-label">Personal Keywords </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" name="person_keywords"
                                       value="{{ form.data['person_keywords'] | default('',true) }}">
                            </div>
                            <small class="form-text text-danger">*req</small>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" style="height:38px"></div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" name="person_keywords1"
                                       value="{{ form.data['person_keywords1'] | default('',true) }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" style="height:38px"></div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" name="person_keywords2"
                                       value="{{ form.data['person_keywords2'] | default('',true) }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" style="height:38px"></div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" name="person_keywords3"
                                       value="{{ form.data['person_keywords3'] | default('',true) }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" style="height:38px"></div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-sm" name="person_keywords4"
                                       value="{{ form.data['person_keywords4'] | default('',true) }}">
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 col-form-label">Available as a Reviewer?</label>
                            <div class="col-sm-4" style="padding-top:calc(0.375rem + 1px) ">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline1" name="is_reviewer"
                                           class="custom-control-input" value="1">
                                    <label class="custom-control-label" for="customRadioInline1">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" name="is_reviewer"
                                           class="custom-control-input" value="0">
                                    <label class="custom-control-label" for="customRadioInline2">No</label>
                                </div>
                            </div>


                        </div>
                        <!--提交按钮-->
                        <div class="content mt-3">
                            <div class="form-group row">
                                <div class="col-sm-12" style="text-align: center">
                                    <!--Once you have filled in the required information, click the button below.<br>-->
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form.csrf_token }}
                </form>
            </div>
            <!--<div class="col-sm-12" style="text-align: center">-->
            <!--&lt;!&ndash;Once you have filled in the required information, click the button below.<br>&ndash;&gt;-->
            <!--<button type="submit" class="btn btn-primary">Sign in</button>-->
            <!--</div>-->
        </div>
    </main>
{% endblock %}
