{% extends 'base.html' %}
{% block title %}
    <title>Register</title>
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" type="text/css">
{% endblock %}
<body>


{% block content %}
    <!-- 主体部分 -->
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <div class="title">
                <h3>Author Main Menue</h3>
            </div>
            <div class="base-card">
                <div class="form-title">
                    <h3>New Submissions</h3>
                </div>
                <div class="content pl-5 mb-4 mainpage-card">
                    <a class="btn" href="#">Submit New Manuscript</a><br>
                    <a class="disabled btn" href="#">Submissions Sent Back to Author </a><span class="badge badge-secondary">0</span><br>
                </div>

                <div class="form-title">
                    <h3>Revisions</h3>
                </div>
                <div class="content pl-5 mb-4 mainpage-card">
                    <a class="btn" href="./base-table.html">Incomplete Submissions</a><span class="badge badge-secondary">1</span><br>

                    <a class="btn" href="#">Submissions Waiting for Author's Approval</a><span class="badge badge-secondary">2</span><br>

                    <a class="btn" href="#">Submissions Being Processed</a><span class="badge badge-secondary">3</span><br>
                </div>
                <div class="form-title">
                    <h3>Completed</h3>
                </div>
                <div class="content pl-5 mb-4 mainpage-card">
                    <a class="btn" href="#">Submissions Being Processed</a><span class="badge badge-secondary">3</span><br>
                </div>

            </div>
        </div>
    </main>
{% endblock %}
